@import url('https://embedsheets.com/ICONS/icons.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
--sgsc-default-font:"Poppins", sans-serif;
--sgsc-green:#00b163;
}

.sgsc-main{
	background-color: #eef1f7;
	width: 95%;
	min-width: 800px;
/*	min-height: 600px;*/
	margin: auto;
    margin-top: 25px;

	font-family: var(--sgsc-default-font);
}


.sgsc_mh{
  min-height: 600px;
}

.demo-page{
/*        background-image: url(back.png);*/
    }



.sgsc-top-header{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
/*    display: flex;*/
    height: 40px;
/*    justify-content: space-between;*/
    padding: 10px 16px;
    z-index: 99;
}

.sgsc-flex-1{
	display: flex;
/*	gap: 10px;*/
}


 .sgsc-card{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}


.small-cards{
	padding: 20px;
	background-color: white;
}

.sgsc-btn{
	background-color: red;
	color: white;
	padding: 8px;
	border:1px solid white;
	width: 200px;
	cursor: pointer;
}

.green-btn{
    background-color: var(--sgsc-green);
}


.sgsc-side-menu{
		background-color: white;
		min-width: 230px;
		min-height: 700px;
		border-right: 1px solid #ddd;

	}

	.sgsc-main-area{
     width: 100%;
/*     border:1px solid blue;*/
	}

.sgsc-responsive{
	overflow-y: auto;
	max-height: 700px;
}

.sgsc-sticky-header table thead{
  background-color: white;
  position: sticky;
  top: 0;
}


[btn="action-edit"]:before{
    content: "\f044 \00a0";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;

}

[btn="action-delete"]:before{
content: "\f2ed \00a0";
font-family: "Font Awesome 5 Pro";
font-weight: 900;
margin-right: 10px;
cursor: pointer;
font-size: 16px;
}

[btn="action-link"]:before{
    content: "\f08e \00a0";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 10px;
    cursor: pointer;
}

[btn="action-edit"]:hover,[btn="action-delete"]:hover,[btn="action-link"]:hover{
  transform: scale(1.2);
  transition: 0.2s ease;
  color: red;
}

:root{
    --track:#dedede;
    --thumb:#6e6a6a;
    --thumb-hover:#000000;
}

  .sgsc-scroll {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: black var(--track); /* For Firefox */
}

.sgsc-scroll::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px;
}

.sgsc-scroll::-webkit-scrollbar-track {
  background-color: var(--track); /* White track color */
}

.sgsc-scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumb); /* White thumb color */
  border-radius: 8px; /* Rounded thumb */
/*  height: 30px;*/
}

.sgsc-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover); /* Hover color */
  cursor: pointer;
}



.sgsc-loader {
  border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid var(--sgsc-green);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sgsc-flash {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

   

.sgsc-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.ui-tooltip{
    background-color:black;
    color: red;
    font-size: 12px;
    border: 1px solid black;
    font-family: var(--sgsc-default-font);
    border-radius: 4px;
    width: fit-content;
  }

  .ui-tooltip a{color: white;text-decoration: underline;}

  .ui-widget.ui-widget-content {
    border: 1px solid #000000;
}

.ui-widget-shadow {
     -webkit-box-shadow: 0px 0px 0px #666666; 
     box-shadow: 0px 0px 0px #666666; 
}