
    .error-msg{
    display: none;
    padding: 8px;
    background-color: #ff572217;
    color: #ff5722;
    margin: 20px auto;
    width: 80%;
    font-weight: 500;
    font-family: var(--default-font);
    text-align: center;
}



    .slider-div {
    margin: var(--slider-float);
    margin-top: -15px;
    max-width: 350px;
}

    .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    display: none;
}







    [error="1"]{
        color: red;
        font-size: 10px;
        font-weight: 600;
        display: none;
    }

[red-border="1"]{
    border: 0.125rem solid red;
}
 
    [error="1"][input-error="1"] {
    margin: 10px 0;
    display: none;
}



    .checkbox-container {
    margin-bottom: 20px;
    padding: 12px 0;
    font-size: 14px;
    text-align: left;

    margin: var(--checkbox-margin);
    max-width: var(--checkbox-max-width);
}

    .checkbox-label {
    font-weight: 600;
    margin-bottom: 9px;
    display: block;
}

.checkbox-option{
    cursor: pointer;
    padding-bottom: 6px;
}


.checkbox-option:before{
        content:"\f0c8 \00a0 \00a0";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        color: var(--theme);

}

    .checkbox-option.checked:before{
        content:"\f14a \00a0 \00a0";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        color: var(--theme);

    }




    .chart-container{
        margin: auto;
/*        margin-top: 50px;*/
        text-align: center;
    }

    .chart-label{
font-size: 16px;
    }



    .img-div{
/*        margin: auto;*/
/*        text-align: center;*/
    }



    .result-container{
        display: flex;
        font-weight: 600;
        font-size: 14px;
        padding: 8px;
    }

    .result-container > div:nth-child(1){width: 50%;text-align: left;}
    .result-container > div:nth-child(2){width: 50%;text-align: right;}

    .result-label{
       text-align:left;
    }

    .result-val{
    text-align: right;
    }
